.headerEditor{
    /* backdrop-filter: blur(6px); */
    background: #1e2224;
    padding: 21px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.headerEditor h2{
    font-family: "Work Sans";
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}
